name: Go CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run Test & Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3
    
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.25
      
      - name: Download dependencies
        run: |
          go mod tidy
          go mod download

      - name: Test
        run: go test -v ./... -race -cover

      - name: Build Docker Image
        run: |
          docker build -t rpc:latest .
          docker tag rpc:latest rpc:${{ github.sha }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Push Docker Image
        run: |
          docker push rpc:latest
          docker push rpc:${{ github.sha }}