name: Go CI

env:
  IMAGE_NAME: ohfreeya/test-ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run Test & Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3
    
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.25
      
      - name: Download dependencies
        run: |
          go mod tidy
          go mod download

      - name: Test
        run: go test -v ./... -race -cover

      - name: Build Docker Image
        run: |
          docker build -t $IMAGE_NAME:latest .
          docker tag $IMAGE_NAME:latest $IMAGE_NAME:${{ github.sha }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: |
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:${{ github.sha }}
      
      - name: Notify Teams with Card
        if: success()
        run: |
          curl -H "Content-Type: application/json" \
              -d '{
                    "@type": "MessageCard",
                    "@context": "http://schema.org/extensions",
                    "summary": "CI Build Success",
                    "themeColor": "00FF00",
                    "title": "Docker Image Push Success",
                    "sections": [{
                      "activityTitle": "Docker image myusername/test-ci:${GITHUB_SHA} pushed successfully!",
                      "activitySubtitle": "Branch: $GITHUB_REF"
                    }]
                  }' \
              ${{ secrets.TEAMS_WEBHOOK }}